<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">
  We ofer free, simple uptime monitoring for HTTP/HTTPS sites of all kinds, When your site goes, we'll send you a text to let you know Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  Asperiores exercitationem unde reiciendis. Ipsam dignissimos numquam tempore sed, nobis quisquam illum quibusdam nihil cum rerum eligendi ut sunt repudiandae delectus corporis.
</div>
<div class="ctaWrapper">
  <a class="cta green" href="/account/create">Get Started</a>
  <a class="cta blue" href="/session/create">Login</a>
</div>
